# Python
__pycache__/
.mypy_cache/
.ruff_cache/
.venv
*.lock
*.py[cod]
*$py.class
poetry.toml
venv/

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
lcov.info

# exe Build Files
*.exe
*.spec
build/
dist/

# Test/Dev Files
.coverage
.pytest_cache/
test.*

# Runtime-Created Files
*.xdelta
